<div class="flex-container centered-content page-block" style="text-align: center;">
    <h1>Welcome to the Login Page!</h1>
    <article>
        This page utilizes the standard practice of compiling a Page/Module at runtime.  
        This page is compiled within the AppModule which is compiled on startup.
        <br/>
        <br/>
        To see an example of lazy loading a module click on the Admin tab.  Open your developer tools to the network tab and watch the module get downloaded!
        <br/>
        <br/>
        To see an example of lazy loading a module with additional routing, click on the reporting tab.  Open your developer tools to the network tab and watch the module get downloaded!
    </article>
</div>

